@media (min-width: 1440px) {

  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1440px;
  }

  .counter-section .row {
    --bs-gutter-x: 83px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .common-banner-sec.mt-102 {
    margin-top: 70px;
  }

  .about-affittool-sec.pt-102 {
    padding-top: 70px;

  }

  .common-banner-sec::after {
    width: 343px;
  }

  .common-banner-sec::before {
    width: 343px;
  }

  .section-header .banner-info:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .banner-info {
    font-size: 17px;
  }

  .connectivity-sec .banner-info {
    font-size: 17px;
  }

  .connectivity-sec .banner-heading {
    font-size: 34px;
  }

  .careers-sec {
    padding: 76px 0;
  }

  .career-heading {
    font-size: 36px;
  }

  .career-content p {
    font-size: 17px;
  }

  .career-content .theme-btn {
    margin-top: 22px;
  }

  .banner-heading {
    font-size: 38px;
    margin-bottom: 22px;
  }

  .connectivity-btn .theme-btn {
    padding: 15px 20px;
    min-width: 186px;
  }

  .common-banner-sec {
    background: #008B8B;
    padding-block: 58px;
    position: relative;
  }

  .on-about-sec.counter-section {
    margin: 86px 0;
  }

  .cms_section .page_title_heading {
    font-size: 36px;
    margin-bottom: 28px;
  }

  .cms_section :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
    font-size: 22px;
    margin-bottom: 18px;
  }

  .main-location-heading {
    font-size: 16px;
  }

  .socialLinksBox {
    margin-bottom: 82px;
  }

  .hero-section {
    padding: 85px 0 190px;
  }

  .hero-title {
    font-size: 50px;
  }

  .hero-content p {
    font-size: 22px;
  }

  .hero-content {
    padding: 58px 105px 74px;
  }

  .top-screen-list {
    gap: 40px;
  }

  .top-screen-img {
    height: 260px;
  }

  .top-screen-list .top-screen-img:nth-child(2) {
    height: 384px;
  }

  .counter-section .row {
    --bs-gutter-x: 40px;
  }

  #header .navbar-expand-lg .navbar-nav .nav-item {
    margin-right: 32px;
  }

  #header .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 18px;
  }

  #header .extra_nav {
    margin-left: 36px;
  }

  .pos_ab img {
    max-width: 80%;
  }

  .workVideo_textwall h5 {
    font-size: 24px;

  }
}

@media (min-width: 1200px) and (max-width: 1309px) {}

@media (min-width: 1200px) {}

@media (min-width: 992px) {

  /* .header-center .navbar-expand-lg .navbar-collapse {
    margin-right: 329px;
} */
  /* .header-center .navbar-expand-lg .navbar-collapse {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    z-index: 10;
  } */

  .mobile_logo {
    display: none;
  }

  .dropdown-menu {
    right: 0;
    left: auto;
  }
}

@media (min-width: 768px) {}

@media (max-width: 1199.98px) {
  .set-h2-style {
    font-size: 36px;
  }

  .common-heading {
    font-size: 30px;
  }

  .set-h4-style {
    font-size: 22px;
  }

  .set-h4-style.ft-change {
    font-size: 22px;
  }

  .counter-card-title {
    font-size: 22px;
  }

  .counter-card-number {
    font-size: 20px;
  }

  .brand-item .pera-cnt {
    font-size: 20px;
  }

  .about-content p {
    font-size: 16px;
  }

  .pera-cnt {
    font-size: 16px;
  }

  .cmn-btn {
    font-size: 16px;
  }

  /*  */

  .section-header .banner-info:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .banner-info {
    font-size: 16px;
  }

  .common-banner-sec {
    padding-block: 48px;
  }

  .banner-heading {
    font-size: 38px;
  }

  .on-about-sec.counter-section {
    margin: 66px 0;
  }

  .connectivity-sec .banner-info {
    font-size: 16px;
  }

  .connectivity-sec .banner-heading {
    font-size: 34px;
  }

  .connectivity-btn {
    gap: 26px;
    margin-top: 32px;
  }

  .connectivity-btn .theme-btn {
    padding: 13px 20px;
    min-width: 166px;
    font-size: 16px;
  }

  .career-heading {
    font-size: 28px;
  }

  .career-content p {
    font-size: 16px;
  }

  .career-content .theme-btn {
    min-width: 176px;
  }

  .career-content .theme-btn {
    margin-top: 12px;
  }

  .common-banner-sec::after {
    width: 253px;
  }

  .common-banner-sec::before {
    width: 253px;
  }

  .cms_section :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
    font-size: 22px;
  }

  .cms_section .page_title_heading {
    font-size: 32px;
    margin-bottom: 24px;
  }

  ul.footer-links li a,
  .full-location {
    font-size: 14px;
  }

  footer h6 {
    margin: 0 0 20px;
    font-size: 16px;
  }

  .main-location-heading {
    font-size: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .common-banner-sec.mt-102 {
    margin-top: 60px;
  }

  .about-affittool-sec.pt-102 {
    padding-top: 60px;

  }

  .page_title_heading.faq-heading {
    padding-bottom: 28px;
  }

  .other-query {
    font-size: 22px;
  }

  #header .navbar-expand-lg .navbar-nav .nav-link.extra_btn.with-border {
    min-width: 126px;
  }


  .hero-outer-content {
    max-width: 640px;
  }

  .hero-content {
    padding: 38px 35px 48px;
  }

  .hero-title {
    font-size: 40px;
  }

  .hero-content p {
    font-size: 18px;
  }

  .hero-section {
    padding: 75px 0 150px;
  }

  .top-screen-list {
    gap: 20px;
    margin-top: -80px;
  }

  .top-screen-img {
    height: 230px;
  }

  .top-screen-list .top-screen-img:nth-child(2) {
    height: 304px;
  }

  #header .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 17px;
  }

  #header .navbar-expand-lg .navbar-nav .nav-item {
    margin-right: 30px;
  }


  .workVideo_textwall h5 {
    font-size: 24px;

  }

  .HowWork_block {
    padding: 20px 10px;
  }

  .HowWork_block h4 {
    padding: 15px 0;
    font-size: 19px;
  }

  .downloadapp_block {
    margin-bottom: 60px;
  }

  .app_textWall h5 {
    padding: 19px 0;
  }

  .app_textWall h2 {
    font-size: 37px;
  }

  .Neway_textWall .btn-Btheme {
    font-size: 18px;
    padding: 9px 30px;
  }

  .Neway_textWall .text_wall h5 {
    padding-bottom: 5px;
    font-size: 26px;
  }

  .pos_ab.left-bottom {
    bottom: -50px;
    left: -20px;
  }

  .Neway_textWall .text_wall h2 {
    font-size: 28px;
  }

  .pos_ab.bottom-right {
    display: none;
  }

  .pos_ab.right-top {
    right: -10px;
    top: -90px;
  }

  .pos_ab img {
    max-width: 80%;
  }

  .text_author .author_name h4 {
    font-size: 20px;
  }

  .heading_block h1 {
    font-size: 43px;
  }

  .heading_block h3 {
    font-size: 37px;
  }

  #header .navbar-expand-lg .navbar-nav .nav-item {
    margin-right: 25px;
  }

  #header .navbar-expand-lg .navbar-nav .nav-link.extra_btn {
    font-size: 14px;
    padding: 8px 20px;
    color: #fff !important;
  }

  #header .extra_nav {
    margin-left: 30px;
  }

  #header .navbar-brand img {
    height: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {
  .service-type-second .row {
    align-items: center;
  }

  .service-types .row {
    align-items: center;
  }

  .careers-sec .row .col-md-7 {
    padding-left: 90px;
  }
}



@media (max-width: 991.98px) {
  .brand-item-list {
    gap: 5px;
}
.brand-item-child {
  width: 62px;
  height: 62px;
  border-radius: 8px;
}
.brand-item-child img {
  width: 42px;
  height: 32px;
}  
.status-list {
  gap: 5px;
}
.status-items {
  font-size: 14px;
  font-weight: 500;
  padding: 7px 10px;
}

  .common-banner-sec.mt-102 {
    margin-top: 50px;
  }

  .about-affittool-sec.pt-102 {
    padding-top: 50px;
  }

  .set-h2-style {
    font-size: 32px;
  }

  .common-heading {
    font-size: 28px;
  }

  .set-h4-style {
    font-size: 20px;
  }

  .set-h4-style.ft-change {
    font-size: 20px;
  }

  .counter-card-title {
    font-size: 20px;
  }

  .counter-card-number {
    font-size: 18px;
  }

  .brand-item .pera-cnt {
    font-size: 20px;
  }

  .about-content p {
    font-size: 15px;
  }

  .pera-cnt {
    font-size: 15px;
  }

  .cmn-btn {
    font-size: 15px;
  }

  .counter-box {
    margin-bottom: 30px;
  }

  /*  */
  .common-banner-sec::after {
    width: 263px;
  }

  .common-banner-sec::before {
    width: 222px;
  }

  .careers-sec {
    padding: 60px 0;
  }

  .page_title_heading.faq-heading {
    padding-bottom: 27px;
  }

  .other-query {
    font-size: 20px;
  }

  .faq_accordionTitle {
    font-size: 17px;
  }


  .header-droparrow li:first-child::after {
    display: none;
  }

  .top-screen-list {
    gap: 30px;
  }

  .top-screen-img {
    border-radius: 12px;
  }

  .hero-section {
    padding: 65px 0 140px;
  }

  .hero-outer-content {
    max-width: 500px;
  }

  .hero-content {
    padding: 28px 25px 38px;
  }

  .hero-title {
    font-size: 32px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-btn-group {
    gap: 22px;
  }

  .top-screen-img {
    height: 190px;
  }

  .top-screen-list .top-screen-img:nth-child(2) {
    height: 254px;
  }

  #header .navbar-brand img {
    max-height: 32px;
    width: auto;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

  .navbar-toggler {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0px;
    padding: 0;
    z-index: 1;
  }

  .navbar-toggler:before {
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 2px;
    width: 22px;
    background: #008B8B;
    content: "";
  }

  .navbar-toggler span {
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    bottom: 12px;
    right: 0;
    display: block;
    height: 2px;
    width: 22px;
    background: #008B8B;
  }

  .navbar-toggler:after {
    position: absolute;
    top: 16px;
    right: 0;
    display: block;
    height: 4px;
    width: 22px;
    border-top: 2px solid #008B8B;
    content: "";
  }

  .navbar-toggler.menu-opened:before {
    top: 10px;
    background: #008B8B;
    width: 22px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .navbar-toggler.menu-opened span {
    opacity: 0;
  }

  .navbar-toggler.menu-opened:after {
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top: 10px;
    border: 0;
    height: 2px;
    width: 22px;
    background: #008B8B;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* Main Menu */
  header .collapse:not(.show) {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    overflow-y: auto;
    width: 250px;
    background: #fff;
    padding: 0 12px;
    padding-top: 110px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    z-index: 9;
  }

  header .collapse:not(.show).menu-show {
    left: 0px;
  }

  body.scroll-off {
    overflow-y: hidden;
    height: 100vh;
  }

  #header {
    height: 65px;
  }

  #header .navbar-expand-lg .navbar-nav .nav-link.sign_up,
  #header .navbar-expand-lg .navbar-nav .nav-link.sign_in {
    margin: 0 0;
    margin-top: 10px;
    text-align: center;
  }

  .mobile_logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
    background-color: #fff;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .is-sticky .mobile_logo {
    padding: 15px 10px;
  }

  .is-sticky .collapse:not(.show) {
    padding-top: 75px;
  }

  .mobile_logo img {
    max-height: 30px;
    width: auto;
  }

  #header .navbar-expand-lg .navbar-nav .nav-link.sign_up {
    margin-top: 20px;
  }

  .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: 9;
  }

  .user_dropdown .dropdown-toggle::after {
    display: none;
  }

  .user_dropdown>a {
    margin-right: 0;
  }

  #header .extra_nav {
    margin-left: 0;
    border-top: 1px solid #ddd;
    /*margin-top: 15px;*/
    padding-top: 15px;
  }

  #header .extra_nav.for_mobile {
    padding: 0;
    margin-top: 0;
    border: 0;
  }

  #header .navbar-expand-lg .navbar-nav .nav-link {
    color: #30383d;
    padding: 5px 0;
    font-size: 17px;
    width: 100%;
    text-align: left;
  }

  #header .navbar-expand-lg .navbar-nav .nav-link.extra_btn {
    width: 100%;
    margin-bottom: 10px;
  }

  #header .navbar-expand-lg .navbar-nav .nav-link.lang_drop {
    width: 60px;
    height: 32px;
    margin-bottom: 0;
    border: 1px solid #e5e4e4;
  }

  /* #header .navbar-expand-lg .navbar-nav .login_btn .nav-link.extra_btn {
    background-color: #fff;
  } */

  #header .navbar-expand-lg .navbar-nav .nav-item {
    margin-right: 0px !important;
    margin-bottom: 10px;
  }

  #header .extra_nav.for_mobile .nav-item {
    margin-bottom: 0;
  }

  #header .navbar-nav .dropdown-menu {
    border: none;
    padding: 0;
    box-shadow: none;
    margin-top: 0;
  }

  #header .dropdown-item {
    padding-right: 0;
    padding-left: 0;
    border-bottom: 0;
    padding-block: 8px;
    font-size: 17px;
  }

  ul.navbar-nav.header-dropdown {
    position: relative;
  }

  #header .dropdown-toggle::after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  #header .for_mobile {
    display: block;
  }

  #header .for_desktop {
    display: none;
  }

  .extra_nav.for_mobile {
    margin-left: 0 !important;
  }

  .user_dropdown>a {
    padding-left: 0;
  }

  #header .navbar-expand-lg .navbar-nav .nav-link:before {
    display: none;
  }

  .footer-signin-link a span,
  .footer-signup-link a span {
    font-size: 30px;
  }

  .footer-signin-link a p,
  .footer-signup-link a p {
    font-size: 13px;
  }

  .footer-signup-link a span.footer-link-arrow,
  .footer-signin-link a span.footer-link-arrow {
    height: 40px;
    width: 40px;
    line-height: 40px;
    right: 10px;
  }

  .footer-signup-link a {
    padding-left: 50px;
  }

  .footer-signin-link a,
  .footer-signup-link a {
    padding-right: 70px;
  }

  .footer-block figure {
    margin-bottom: 10px;
  }

  .footer-block {
    margin-bottom: 40px;
    max-width: 100%;
  }

}

@media (max-width: 767.98px) {
  .set-h2-style {
    font-size: 28px;
  }

  .common-heading {
    font-size: 24px;
  }

  .set-h4-style {
    font-size: 18px;
  }

  .set-h4-style.ft-change {
    font-size: 20px;
  }

  .counter-card-title {
    font-size: 18px;
  }

  .counter-card-number {
    font-size: 16px;
  }

  .brand-item .pera-cnt {
    font-size: 18px;
  }

  .about-content p {
    font-size: 14px;
  }

  .pera-cnt {
    font-size: 14px;
  }

  .cmn-btn {
    font-size: 14px;
  }

  .service-types .common-heading::after {
    height: 3px;
    width: 60px;
  }

  .service-types .service-type-second .common-heading:after {
    width: 80px;
  }

  .brand-logo-grp {
    justify-content: space-around;
  }

  /*  */
  .top-screen-list {
    flex-wrap: wrap;
    gap: 18px;
    justify-content: space-between;
  }

  ul.top-screen-list>* {
    width: 50%;
    flex: 0 0 calc(50% - 15px);
  }

  .top-screen-list>.top-screen-img:nth-child(2) {
    order: -1;
    width: 100%;
    flex: 100%;
  }

  .top-screen-list .top-screen-img {
    height: 100% !important;
  }

  .top-screen-list {
    margin-top: -50px;
  }

  .hero-section {
    padding: 65px 0 100px;
  }

  .connectivity-btn .theme-btn {
    min-width: auto;
  }

  .career-avtar-img img {
    height: 250px;
  }

  .career-avtar-img {
    text-align: center;
  }

  .career-avtar-img::after {
    display: none;
  }

  .careers-sec .row .col-md-7 {
    padding-left: unset;
  }

  .career-avtar-img {
    margin-bottom: 30px;
  }

  .powered-by-heading {
    margin-bottom: 40px;
  }

  .service-type-right-cnt img {
    height: 370px;
  }

  .service-type-right-cnt {
    text-align: center !important;
  }

  .cms_section {
    padding-top: 46px;
  }

  .cms_section :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
    font-size: 20px;
    margin-bottom: 18px;
  }

  .cms_section p {
    text-align: justify;
    font-size: 15px;
  }

  .page_title_heading {
    font-size: 35px;
  }

  .footer_wrapper::after {
    display: none;
  }

  .footer_wrapper {
    padding-top: 40px;
  }

  .footer-block {
    margin-bottom: 30px;
  }

  .socialLinks a svg {
    height: 18px;
  }

  .socialLinksBox {
    margin-top: unset;
  }

  .socialLinksBox {
    margin-top: unset;
    justify-content: flex-start;
    margin-bottom: 38px;
  }

  .socialLinks a:not(:last-child) {
    margin-right: 15px;
  }

  .socialLinks a {
    width: 40px;
    height: 40px;
  }

  .footer-block {
    max-width: 100%;
  }

  .full-location {
    margin-bottom: 40px;
  }

  .ReactModalPortal .ReactModal__Content.ReactModal__Content--after-open {
    max-width: 500px;
  }

  p {
    font-size: 15px;
  }

  #header,
  .mobile_logo,
  #header.is-sticky {
    height: 60px;
  }

  header .collapse:not(.show) {
    padding-top: 70px;
  }

  .copyright {
    font-size: 12px;
  }

  footer h6 {
    margin: 0 0 10px;
  }

  .features-coin {
    height: 55px;
    width: 55px;
    line-height: 55px;
  }

  .features-coin img {
    height: 30px;
  }

  .features-heading {
    font-size: 17px;
  }

  .features-text {
    font-size: 13px;
  }

  .footer-signin-link a span,
  .footer-signup-link a span {
    font-size: 20px;
  }

  .footer-signin-link a p,
  .footer-signup-link a p {
    font-size: 11px;
  }

  .footer-signin-link a,
  .footer-signup-link a {
    padding-right: 40px;
  }

  .footer-signup-link a span.footer-link-arrow,
  .footer-signin-link a span.footer-link-arrow {
    height: 30px;
    width: 30px;
    line-height: 30px;
    right: 10px;
    font-size: 14px;
  }

  .footer-signin-link a,
  .footer-signup-link a {
    padding-right: 40px;
    padding-left: 15px;
  }

  .price-value-right,
  .coinname-detail-box,
  .coin-trade-action {
    padding: 10px 20px;
  }

  .common-banner-sec::after {
    width: 213px;
  }

  .common-banner-sec::before {
    width: 212px;
  }

  .right-top-shape {
    right: 10px;
    top: -42px;
  }

  .right-top-shape img {
    height: 90px;
  }

  .cmn-btn.theme-btn {
    margin-top: 0;
  }

  .service-type-first {
    margin: 60px 0 82px;
  }

  .left-bottom-shape {
    bottom: -132px;
    height: 280px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (max-width: 575.98px) {
  .custom-card {
    flex-wrap: wrap;
    justify-content: center;
  }

  .set-h2-style {
    font-size: 24px;
  }

  .common-heading {
    font-size: 20px;
  }

  .set-h4-style {
    font-size: 16px;
  }

  .set-h4-style.ft-change {
    font-size: 18px;
  }

  .counter-card-title {
    font-size: 16px;
  }

  .counter-card-number {
    font-size: 14px;
  }

  .brand-item .pera-cnt {
    font-size: 16px;
  }

  .about-content p {
    font-size: 14px;
  }

  .pera-cnt {
    font-size: 14px;
  }

  .cmn-btn {
    font-size: 12px;
  }

  /*  */
  .outer-border {
    padding: 22px 16px;
  }

  .hero-content {
    padding: 28px 19px 28px;
  }

  .hero-btn-group {
    gap: 12px;
  }

  .hero-btn-group .theme-btn {
    padding: 13px 10px;
    font-size: 13px;
  }

  .common-banner-sec::before {
    width: 112px;
  }

  .common-banner-sec::after {
    width: 103px;
  }

  .service-type-right-cnt img {
    height: auto;
  }

  .connectivity-btn .theme-btn {
    padding: 13px 10px;
    font-size: 14px;
  }

  .connectivity-btn {
    gap: 16px;
  }

  .faq_accordionTitle {
    font-size: 16px;
  }

  .accordion-button {
    padding: 14px 14px;
    font-size: 16px;
  }

  .footer-block {
    max-width: 100%;
  }

  .link-custom-width {
    justify-content: unset;
  }

  #header .container-fluid {
    padding-right: var(--bs-gutter-x, 10px);
    padding-left: var(--bs-gutter-x, 10px);
  }

  .newway_row {
    flex-direction: column;
  }

  #header .navbar-brand img {
    max-height: 20px;
  }

  #header .navbar-expand-lg .navbar-nav .nav-link.lang_drop {
    height: 28px;
    width: 55px;
    font-size: 13px;
    padding-left: 30px;
    border: 1px solid #e5e4e4;
  }

  #header .navbar-expand-lg .navbar-nav .nav-link.lang_drop img {
    width: 19px;
  }

  .section {
    margin-top: 25px;
  }

  .features-coin {
    height: 45px;
    width: 45px;
    line-height: 45px;
  }

  .features-coin img {
    height: 22px;
  }

  .footer_wrapper::after {
    display: none;
  }

  .footer_wrapper {
    padding: 40px 0 0;
  }

  .socialLinksBox {
    justify-content: start;
    margin-bottom: 42px;
    margin-top: unset;
  }

  .socialLinks a {
    width: 40px;
    height: 40px;
  }

  .socialLinks a:not(:last-child) {
    margin-right: 15px;
  }

  .socialLinks a svg {
    height: 18px;
  }

  .company-dec {
    font-size: 14px;
    margin: 15px 0 30px;
  }

  .main-location-heading {
    font-size: 14px;
  }

  .footer-block figure img {
    height: 35px;
  }

  footer h6 {
    font-size: 15px;
  }

  ul.footer-links li {
    margin: 2 0;
  }

  .footer-signin-link a,
  .footer-signup-link a {
    padding-left: 10px;
    padding-right: 0;
    height: 80px;
  }

  .footer-signin-link a span,
  .footer-signup-link a span {
    font-size: 16px;
  }

  .footer-signup-link a span.footer-link-arrow,
  .footer-signin-link a span.footer-link-arrow {
    top: 10px;
    transform: unset;
    height: 22px;
    width: 22px;
    line-height: 22px;
    font-size: 13px;
  }

}